<div class="movie-list">
  <!-- Movie-item component aqui-->
  <movie-item ng-repeat="x in movieListScope.moviesDB"
   ano={{x.ano}}
   nome={{x.nome}}
   plot={{x.plot}}
   elenco=x.elenco
   trailer={{x.trailer}}
   poster={{x.poster}}
   rented={{x.rented}}
   ng-click='movieListScope.select($index)' /* ng-click: acção a tomar em caso de click*/
   ng-class='{active: ($index == movieListScope.indexSelected)}' /*adicionar classes de CSS a objectos. Neste caso concreto consoante uma condição*/
   >
  </movie-item>
</div>
